<div class="pure-g nav-grid">
    <div class="pure-u-1 pure-u-lg-1-5 nav-col">
        <div class="nav-col-head">
            <div class="nav-head-label">Plans</div>
            <div class="nav-col-toggle toggle">
                <i class="fa fa-chevron-down"></i>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="nav-col-list">
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Getting Started</a>
            </div>
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Basic</a>
            </div>
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Plus</a>
            </div>
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Premium</a>
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-5 nav-col">
        <div class="nav-col-head">
            <div class="nav-head-label">Business</div>
            <div class="nav-col-toggle toggle">
                <i class="fa fa-chevron-down"></i>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="nav-col-list">
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Features</a>
            </div>
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Use cases</a>
            </div>
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Customer stories</a>
            </div>
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Contact sales</a>
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-5 nav-col">
        <div class="nav-col-head">
            <div class="nav-head-label">Discover</div>
            <div class="nav-col-toggle toggle">
                <i class="fa fa-chevron-down"></i>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="nav-col-list">
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Blog</a>
            </div>
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Community</a>
            </div>
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Certified consultants</a>
            </div>
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Events</a>
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-5 nav-col">
        <div class="nav-col-head">
            <div class="nav-head-label">Get support</div>
            <div class="nav-col-toggle toggle">
                <i class="fa fa-chevron-down"></i>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="nav-col-list">
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Help &amp; Learning</a>
            </div>
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Support</a>
            </div>
            <div class="nav-list-item" href="{{ coming-soon }}">
                <a class="nav-list-link"href="{{ coming-soon }}">Forum</a>
            </div>
        </div>
    </div>
    <div class="close-menu"><i class="fa fa-times"></i></div>
    <div class="pure-u-1 nav-col social-col">
        <div class="social-col-inner">
            <a href="" class="social-link">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="" class="social-link">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="" class="social-link">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="" class="social-link">
                <i class="fa fa-youtube-play"></i>
            </a>
            <a href="" class="social-link">
                <i class="fa fa-medium"></i>
            </a>
            <a href="" class="social-link">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="pure-u-1 nav-col lang-col">
        <div class="lang-col-inner">
            <div class="lang-select toggle">Choose Language <i class="fa fa-caret-down"></i></div>
            <div class="lang-options">
                <div class="lang">Bahasa Indonesia</div>
                <div class="lang">Bahasa Melayu</div>
                <div class="lang">Dansk</div>
                <div class="lang">Deutsch</div>
                <div class="lang">English (US)</div>
                <div class="lang">Español</div>
                <div class="lang">Español (América Latina)</div>
                <div class="lang">Français</div>
                <div class="lang">Italiano</div>
                <div class="lang">Nederlands</div>
                <div class="lang">Polski</div>
                <div class="lang">Português (Brasil)</div>
                <div class="lang">Português (Portugal)</div>
                <div class="lang">Suomi</div>
                <div class="lang">Svenska</div>
                <div class="lang">Tiếng Việt</div>
                <div class="lang">Türkçe</div>
                <div class="lang">Русский</div>
                <div class="lang">العربية</div>
                <div class="lang">ภาษาไทย</div>
                <div class="lang">한국어</div>
                <div class="lang">中文（简体</div>
                <div class="lang">中文（繁體）</div>
                <div class="lang">日本語</div>
            </div>
        </div>
    </div>
</div>
