@import "mixins";
html,
body {
	margin:0;
	padding:0;
	height:100%;
	width: 100%;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
//Default Fonts
h1, h2, h3, h4, h5 {
	font-family: $header-font;
	color: $heading;
}
body,p {
	font-family: $body-font;
	font-size: 12pt;
	color: $body_txt;
}
div {
	font-family: $header-font;
}
b, strong {
	font-family: $header-font;
	font-weight: bold;
}
.clearfix {
	clear: both;
}
//Links
a {
	text-decoration: none;
	color: $body_link;
	font-family: $header-font;
	@include transition;
	&:hover, &:active, &:focus {
		color: $body_link_hover;
	}
}
#wrapper {
	min-height: 100%;
	position:relative;
}
//Header
#header {
	@include header_colors;

	h1, h2, h3, h4, h5 {
		@include header_colors;
	}
}
//PureCSS Buttons
.pure-button {
	border-radius: 4px;
	background-color: $button_bg;
	color: $button_txt;
	white-space: normal;
	font-family: $header_font;
	&:hover, &:focus {
		background-image: none;
		background-color: $hover_button_bg;
		color: $hover_button_txt;
		@include transition;
	}
}
//PureCSS Grids
/* fix for IE and Firefox responsiveness */
.pure-g {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}
.pure-g [class *= "pure-u"] {
	font-family: $body-font;
}
.pure-g {
	font-family: $body-font;
}
//BSD Form
@include form_colors;
.signup-form {
	padding: 1em;
	width: 100%;
	.pure-button {
		width: 100%;
	}
}
//Social Share
$twitter_brand: #1da1f2;
$facebook_brand: #3B5998;
.social-share {
	display: block;
	margin-top: 1em;
	&.links {
		i {
			font-size: 1.5em;
		}
		a:nth-child(2) {
			margin-left: 1em;
		}
	}
	&.buttons {
		color: $white;
		.tweet-link {
			.fa-twitter {
				color: $white;
				@include transition;
			}
	        .fa-circle {
	            color: $twitter_brand;
				@include transition;
	        }
			&:hover {
				cursor: pointer;
				.fa-twitter {
	            	color: $twitter_brand;
				}
	            .fa-circle {
	                color: $white;
	            }
			}
	    }
	    .fb-link {
			.fa-facebook {
				color: $white;
				@include transition;
			}
	        .fa-circle {
	            color: $facebook_brand;
				@include transition;
	        }
			&:hover {
				cursor: pointer;
				.fa-facebook {
					color: $facebook_brand;
				}
	            .fa-circle {
	                color: $white;
	            }
			}
	    }
	}
}
//Footer
#footer {
	@include footer_colors;

	clear: both;
	a {
	    color: $copyright_link;
	    text-decoration: none;
	    &:hover {
	      color: $copyright_link_hover;
	    }
  	}
}
//Form Inputs
input,textarea {
	&:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]) {
		width: 100%;
		padding: 1em;
		-webkit-appearance: none;
		-moz-appearance: none;
		border: 0;
	}
	&:active, &:focus {
		outline: 0;
	}

	&.submit {
		white-space: normal;
	}
}
