//Custom Styles
$green: #2dbe60;
$dk_green: #0d9f40;
$black: #000;
$white: #fff;
$grey: #eef2f3;
$dk_grey: #989898;

//Theme colors
$text_color: $black;
$primary_color: $green;
$secondary_color: $white;
//Body and Heading text Colors
$body_txt: $text_color;
$body_link: $text_color;
$body_link_hover: $primary_color;
$heading: $text_color;
//Footer Colors
$footer_bg: $secondary_color;
$footer_txt: $text_color;
$copyright_link: $body_link;
$copyright_link_hover: $body_link_hover;
//Header Colors
$header_bg: $secondary_color;
$header_txt: $text_color;
//Button Colors
$button_bg: $primary_color;
$button_txt: $secondary_color;
$hover_button_bg: $dk_green;
$hover_button_txt: $secondary_color;
//BSD Form Colors
$form_bg: $secondary_color;
$form_txt: $text_color;
$form_btn_bg: $primary_color;
$form_btn_txt: $secondary_color;
//Mobile Breakpoints
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//Padding for Sections and Grids
$grid-gutters: 0.5em 1em;
$header-padding: 0 1em;
$body-padding: 0;
$body-padding-mobile: 0;
$footer-padding: 0;
$transition_duration: .3s;
//Mixins
@import "mixins";
@include gridGutters($grid-gutters);
@include headerPadding($header-padding);
@include bodyPadding($body-padding);
@include footerPadding($footer-padding);
//Start Theme Customizations below:
//universal styles
body {
    &.active {
        overflow: hidden;
    }
}
//sections
.section-inner {
    padding: 1em 3em;
    @include bp-medium {
        padding: 1em;
    }
}
.toggle {
    i {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        @include transition;
    }
    &.active {
        i {
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}
//nav grid
.nav-grid {
    .nav-col {

        .nav-col-head {
            padding: 1em 0;
            font-family: $header-font;
            .nav-head-label {
                font-weight: bold;
            }
            .nav-col-toggle {
                display: none;
            }
        }
        .nav-col-list {
            .nav-list-item {
                margin-bottom: 1em;
            }
        }
        &.close-col {
            text-align: right;
        }
        .nav-col-list {
            .nav-list-item {
                display: block;
            }
        }
    }

}
//language toggle
.lang-col {
    border-bottom: none;
    padding: 2em;

    .lang-select {
        color: $black;
        font-family: $header-font;
        i {
            color: $black;
        }
        @include transition;

        &:hover {
            cursor: pointer;
            color: $green;
            i {
                color: $green;
            }
        }

    }
    .lang-options {
        display: none;
        .lang {
            margin: 1.5em 0;
            @include transition;
            &:hover {
                color: $green;
                cursor: pointer;
            }
        }
    }
}
//social buttons
.social-col {
    font-size: 1.5rem;
    .social-col-inner {
        display: inline-block;
        .social-link {
            margin-right: 1em;
        }
    }
}

//header
#header {

    position: fixed;
    top: 0;
    width: 100%;
    background: $white;
    z-index:10;

    $button_padding: 0.75em 1em;
    .nav-bar {
        border-bottom: 1px solid $grey;
        padding-top: 1em;
    }

    a {

        &.nav-link {
            margin: 0 $button_padding;
        }
        &:hover {
            cursor: pointer;
        }
    }

    .logo {
        float: left;
        padding: $button_padding;
        .logo-img {
            height: 2em;
            width: auto;
        }
    }
    .nav {
        float: left;
        font-family: $header-font;
        padding: $button_padding;
    }
    .nav,.login-signup {
        line-height: 2em;
    }

    .login-signup {
        float: right;
        padding: 0.5em 0;
        .biz-signup {
            color: $black;
            background: $white;
            border: 2px solid $black;
            padding: $button_padding;
            &.active {
                color: $white;
                background: $green;
                border: 2px solid $green;
                &:hover {
                    color: $white;
                    background: $dk_green;
                    border: 2px solid $dk_green;
                }
            }
        }
        overflow: hidden;
        .nav-link {
            max-width: 0;
            position: relative;

            display: inline-block;
            opacity: 0;
            margin: 0;
            white-space: nowrap;
            z-index: -1;
            &.active {
                @include custom_transition(opacity, max-width);
                max-width: 3em;
                opacity: 1;
                margin: 0 $button_padding;
            }
        }

    }

    .menu-nav {
        display: none;
        background: rgba($black,0.7);
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        @include custom_transition(opacity);
        &.active {
            opacity: 1;
            display: block;
        }
        .menu-body {
            background: $white;
            text-align: left;
            position: relative;
            .menu-login-signup {
                display: none;

            }
            .close-menu {
                position: absolute;
                right: 3em;
                top: 1em;
                font-size: 2em;
            }
            .nav-grid {
                padding: 1em 3em;
                max-width: $size-large;
                margin: auto;
                .social-col, .lang-col {
                    display: none;
                }
            }
        }
    }
    .menu-toggle {
        display: none;
        float: right;
        padding: 0.5rem;
        font-size: 2em;
        &:hover {
            cursor: pointer;
        }
    }
    //Mobile nav bar
    @include bp-large {
        .nav, .login-signup {
            display: none;
        }

        .menu-nav {

            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: right;
            opacity: 0;
            overflow-y: scroll;


            .menu-body {
                background: $white;
                display: inline-block;
                min-height: 100%;
                max-width: 400px;
                .menu-login-signup {
                    display: block;
                    padding: 2rem;

                    .menu-login {
                        display: inline-block;
                        margin: 0 0 2rem;
                    }
                    .pure-button {
                        display: block;
                        width: 100%;
                        margin-bottom: 1rem;
                        padding: 1rem;
                        &.dl-app {

                        }
                        &.biz-signup {
                            background: $white;
                            color: $black;
                            border: 2px solid $black;
                            &:hover {
                                color: $green;
                                border: 2px solid $green;
                            }
                        }

                    }
                }
                .nav-grid {
                    padding: 0;
                    .nav-col {
                        padding: 0;
                        border-bottom: 2px solid $grey;
                        &:first-child {
                            border-top: 2px solid $grey;
                        }
                        &.social-col {
                            display: block;
                            .social-col-inner {
                                padding: 1em;
                            }
                        }
                        &.lang-col {
                            display: inline-block;
                            .lang-col-inner {
                                padding: 1.5em 1em;
                            }
                        }
                        .nav-col-head {
                            font-size: 1.5em;
                            padding: 1em;
                            &:hover {
                                cursor: pointer;
                            }
                            .nav-head-label {
                                text-transform: uppercase;
                                font-weight: normal;
                                font-family: $header_font;
                                float: left;
                            }
                            .nav-col-toggle {
                                display: inline-block;
                                float: right;

                            }

                        }
                        .nav-col-list {
                            display: none;
                            padding: 0 1.5em 1.5em;
                            .nav-list-item {
                                @include transition;
                                opacity: 0;
                            }
                            &.active {
                                .nav-list-item {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .close-menu {
                        top: 1.25rem;
                        right: 1em;
                    }
                }
            }

        }
        .menu-toggle {
            display: inline-block;
        }
    }

}

.signup-col {
    border-left: 1px solid $grey;
}
#main {
    margin-top: 5em;
    position: relative;
    .vid-overlay {
        z-index: -1;
        opacity: 0;
        padding: 1em;
        @include custom_transition(opacity);
        &.active {
            opacity: 1;
            @include flexbox;
            justify-content: center;
            align-items: center;
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($black,0.8);
        }
        .vid-container {
            position: relative;
            @include bp-medium {
                width: 100%;
            }
            .close-vid {
                text-align: right;
                color: $white;
                margin-bottom: 1em;
            }
            .loading-vid {
                position: absolute;
                top: 50%;
                left: 50%;
                -moz-transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                color: $white;
                z-index: 1;
                font-size: 3em;
            }
            #vid-player {
                z-index: 2;
                position: relative;
                @include bp-medium {
                    width: 100%;
                }
            }
        }
    }
}
//Signup Section
#signup {
    font-family: $header-font;
    .signup-grid {
        .pure-u-1 {
            padding: 0.5em 4em;
        }
    }
    .intro-col {
        .intro-title {
            opacity: 0;
            font-size: 3em;
            @include custom_transition(opacity);
            &.active {
                display: inline-block;
                opacity: 1;
            }
        }
        .intro-slider {
            position: relative;
            overflow: hidden;
            min-height: 7em;
            .intro-slide {
                font-size: 3em;
                font-family: $header-font;
                font-weight: bold;
                position: absolute;
                top: 0;
                -moz-transform: translateY(100%);
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
                opacity: 0;
                @include transition;
                &.active {
                    -moz-transform: translateY(0%);
                    -webkit-transform: translateY(0%);
                    transform: translateY(0%);
                    opacity: 1;
                }
            }
        }
    }
    .signup-col {
        .signup-col-inner {
            max-width: 450px;
            margin: auto;
        }
        .signup-header {
            margin-top: 0;
        }
        .signup-separator {
            position: relative;
            text-align: center;
            padding: 1em 0;
            .separator-line {
                background-color: $grey;
                height: 2px;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                -moz-transform: translateY(50%);
                -webkit-transform: translateY(50%);
                transform: translateY(50%);
                z-index: 1;
            }
            .separator-text {
                z-index: 2;
                background: $white;
                padding: 0 0.5em;
                position: relative;
                color: $dk_grey;
            }
        }
        .google-signup {
            text-align: center;
            font-family: $header-font;
            background-image: url('../images/Google_G_Logo.svg');
            background-size: auto 1.25em;
            background-position: 1em center;
            background-repeat: no-repeat;
            border: 1px solid $grey;
            border-radius: 4px;
            padding: 0.5em 1em 0.5em 2.25em;
        }
        .signup-form {
            padding: 0;
            .form-input {
                &:not(.submit) {
                    background: $grey;
                }
                border-radius: 4px;
                margin: 0.5em 0;
                &.submit  {
                    padding: 1em;
                }
            }
            .disclaimer {
                padding: 1rem 0;
                font-size: 0.75em;
                font-family: $header-font;
                color: $dk_grey;
                a {
                    color: darken($dk_grey,15%);
                    font-weight: bold;
                }
            }
        }

    }

}
//Benefits Section
#benefits {

    .benefit-grid {
        max-width: 1024px;
        margin: auto;
        @include bp-medium {
            text-align: center;
        }
        &.odd {
            .vid-col {
                order: 1;
            }
            .copy-col {
                order: 2;
            }
        }
        &.even {
            .vid-col {
                order: 2;
            }
            .copy-col {
                order: 1;
            }
            @include bp-medium {
                .vid-col {
                    order: 1;
                }
                .copy-col {
                    order: 2;
                }
            }

        }
    }
    .vid-col {
        .benefit-vid {
            height: 465px;
            @include bp-medium {
                height: 250px;
            }
            &:hover {
                cursor: pointer;
            }
            .benefit-img {
                width: 100%;
                height: auto;
                max-width: 465px;
                @include bp-medium {
                    max-width: 250px;
                }
            }
        }

    }
    .copy-col {
        @include flexbox;
        align-items: center;
        .benefit-copy {
            h2 {
                margin-top: 0;
            }
            a {
                color: $black;
                border-bottom: 3px solid $green;
                padding-bottom: 1px;
                font-weight: bold;
                &:hover {
                    color: $green;
                }
            }
        }

    }
}
//cta section
#cta {
    background: $grey;
    text-align: center;
    .section-inner {
        max-width: $size-small;
        margin: auto;
        padding: 4em 3em;
        @include bp-medium {
            padding: 2em 1em;
        }
        h1 {
            margin: 0 0 2em 0;

        }
        .pure-button {
            padding: 1em 2em;
        }
    }
}
#posts {
    .post-slider {
        .post {
            padding: 0 2em;
            .post-img {
                width: 100%;
                height: auto;
            }
            .post-tag {
                padding: 2em 0;
                text-transform: uppercase;
            }
            .post-title {
                font-size: 1.25em;
                font-weight: bold;
            }

        }
    }
}
#footer {
    .footer-row {
        border-top: 2px solid $grey;
        padding: 1em;

        @include bp-medium {
            .pure-g:not(.nav-grid) {
                text-align: center;
            }

        }
    }
    .social-lang-grid {
        .social-col {
            text-align: right;
            @include bp-medium {
                text-align: center;
            }
        }
        .lang-col {
            .lang-col-inner {
                line-height: 2.5em;
                position: relative;

                .lang-options {
                    text-align: left;
                    @media only screen and (min-width: $size-medium) {
                        position: absolute;
                        bottom: 2.5em;
                        background: $grey;
                        width: 100%;
                        .lang {
                            margin: 0.25em 0;
                            background: transparent;
                            &:hover {
                                background: $green;
                                color: $white;
                            }
                        }
                    }
                    .lang {
                        margin: 0.25em 0;
                    }

                }
            }
        }
    }
    .copyright-grid {
        .copyright-txt {
            font-family: $header-font;
            @include bp-medium {
                span {
                    display: block;
                }
            }
        }
        .copyright-links-col {
            text-align: right;
            @include bp-medium {
                text-align: center;
            }
            .copyright-link {
                margin-right: 1em;

            }
        }

    }

}
