<!DOCTYPE html>
<html>

<head>
    {% if site.ga %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70251-65"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', '{{ site.ga }}');
    </script>
    {% endif %}
    {% if site.gtm %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ site.gtm }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
    <meta charset="utf-8">
    {% if page.url == "/error.html" %}
    <meta http-equiv="refresh" content="3; url=/">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title and Meta Text -->
    <title>{{ site.title }}</title>
    <meta content="{{ site.description }}" name="description">
    <!-- Facebook Meta -->
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.meta_img }}">
    <!-- Twitter Meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@TheDemocrats">
    <meta name="twitter:creator" content="@TheDemocrats">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.meta_img }}">
    <!-- Pure CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
    <!-- CSS -->
    {% include base.html %}
    <link href="{{ base }}/css/style.css" rel="stylesheet" type="text/css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <!-- Favicon -->
    <link rel="icon" href="">
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <!-- Twitter Popup -->
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>

<body>
    {% if site.gtm %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    <div id="wrapper">
        <div id="header">
            <div class="logo">
            </div>
            <div class="nav">
            </div>
            <div class="login-signup">
            </div>
        </div>
        <div id="main">
            {% for section in site.sections %}
            <div class="section" id="{{ section.id-tag }}">
                {% if section.title == "Signup" %}
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-2">
                        {{ section.content }}
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2 signup-col">
                        <div id="signup">
                            <div class="signup-header">
                                Sign Up for Free
                            </div>
                            <div class="google-signup">
                                Sign up free with Google
                            </div>
                            <div class="signup-separator">
                                or
                            </div>
                            <div class="signup-form">
                                <form action="{{ base }}/coming-soon">
                                <input class="form-input email" type="email" placeholder="Email" />
                                <input class="form-input password" type="text" placeholder="Password" />
                                <div class="disclaimer">By clicking Sign up, I agree to the Terms of Service and Privacy Policy.</div>
                                <input class="form-input submit pure-button" type="submit" value="Sign up for free">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% elsif section.title == 'Benefits' %}
                <div id="benefits">
                    {% for benefit in site.benefits %}
                    <div class="benefit pure-g">
                        <div class="pure-u-1 pure-u-md-1-2 vid-col">
                            <div class="benefit-vid" data-vid="{{ benefit.video }}">
                                <img class="benefit-img" src="{{ base }}{{ benefit.image }}" />
                            </div>
                        </div>

                        <div class="pure-u-1 pure-u-md-1-2 copy-col">
                            <div class="benefit-copy">
                                <h2>{{ benefit.title }}</h2>
                                {{ benefit.content }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% elsif section.title == 'CTA' %}
                <div class="section-inner">
                    {{ section.content }}
                    <a class="pure-button" href="{{ section.button }}">Sign up for Free</a>
                </div>
                {% elsif section.title == 'Posts' %}
                <div class="section-inner">
                    <div class="post-slider">
                    {% for post in site.posts %}
                        <div class="post">
                            <div class="post-img-container">
                                <img class="post-img" src="{{ base }}{{ post.image }}"/>
                            </div>
                            <div class="post-tag">
                                {{ post.tag | uppercase }}
                            </div>
                            <div class="post-title">
                                {{ post.title }}
                            </div>
                            <div class="post-summary">
                                {{ post.content }}
                            </div>

                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}

            </div>
            {% endfor %}

        </div>
    </div>
    <div id="footer">

    </div>
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{{ base }}/site_functions.js"></script>
</body>
