<!DOCTYPE html>
<html>

<head>
    {% if site.ga %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70251-65"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', '{{ site.ga }}');
    </script>
    {% endif %}
    {% if site.gtm %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ site.gtm }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
    <meta charset="utf-8">
    {% if page.url == "/error.html" %}
    <meta http-equiv="refresh" content="3; url=/">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title and Meta Text -->
    <title>{{ site.title }}</title>
    <meta content="{{ site.description }}" name="description">
    <!-- Facebook Meta -->
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.meta_img }}">
    <!-- Twitter Meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@TheDemocrats">
    <meta name="twitter:creator" content="@TheDemocrats">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.meta_img }}">
    <!-- Pure CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
    <!-- CSS -->
    {% include base.html %}
    <link href="{{ base }}/css/style.css" rel="stylesheet" type="text/css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <!-- Favicon -->
    <link rel="icon" href="">
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <!-- Twitter Popup -->
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>

<body>
    {% if site.gtm %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    {% assign coming-soon = {{ base}}/coming-soon/ %}
    <div id="wrapper">

        <div id="header">
            <div class="nav-bar">
                <a class="logo" href="{{ base }}/">
                    <img class="logo-img" src="/min_images/Evernote-logo.svg" />
                </a>
                <div class="nav">
                    <a class="nav-link menu toggle">Explore <i class="fa fa-caret-down"></i></a>
                    <a class="nav-link" href="{{ coming-soon }}">Web Clipper</a>
                    <a class="nav-link" href="{{ coming-soon }}">Download app</a>
                </div>
                <div class="login-signup">
                    <a class="nav-link active">Log in</a>
                    <a class="nav-link signup">Sign up</a>
                    <a class="pure-button biz-signup">Try Evernote Business</a>
                </div>
                <div class="menu-toggle">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="menu-nav">
                <div class="menu-body">
                    <div class="menu-login-signup">
                        <a class="nav-link active menu-login">Log in</a>
                        <a class="pure-button dl-app">Download App</a>
                        <a class="pure-button biz-signup">Try Evernote Business</a>
                    </div>
                    <div class="pure-g nav-grid">
                        <div class="pure-u-1 pure-u-lg-1-5 nav-col">
                            <div class="nav-col-head">
                                <div class="nav-head-label">Plans</div>
                                <div class="nav-col-toggle toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="nav-col-list">
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Getting Started</a>
                                </div>
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Basic</a>
                                </div>
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Plus</a>
                                </div>
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Premium</a>
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-lg-1-5 nav-col">
                            <div class="nav-col-head">
                                <div class="nav-head-label">Business</div>
                                <div class="nav-col-toggle toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="nav-col-list">
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Features</a>
                                </div>
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Use cases</a>
                                </div>
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Customer stories</a>
                                </div>
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Contact sales</a>
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-lg-1-5 nav-col">
                            <div class="nav-col-head">
                                <div class="nav-head-label">Discover</div>
                                <div class="nav-col-toggle toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="nav-col-list">
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Blog</a>
                                </div>
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Community</a>
                                </div>
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Certified consultants</a>
                                </div>
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Events</a>
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-lg-1-5 nav-col">
                            <div class="nav-col-head">
                                <div class="nav-head-label">Get support</div>
                                <div class="nav-col-toggle toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="nav-col-list">
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Help &amp; Learning</a>
                                </div>
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Support</a>
                                </div>
                                <div class="nav-list-item" href="{{ coming-soon }}">
                                    <a class="nav-list-link"href="{{ coming-soon }}">Forum</a>
                                </div>
                            </div>
                        </div>
                        <div class="close-menu"><i class="fa fa-times"></i></div>
                        <div class="pure-u-1 nav-col social-col">
                            <div class="social-col-inner">
                                <a href="" class="social-link">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="" class="social-link">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="" class="social-link">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="" class="social-link">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                                <a href="" class="social-link">
                                    <i class="fa fa-medium"></i>
                                </a>
                                <a href="" class="social-link">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="pure-u-1 nav-col lang-col">
                            <div class="lang-col-inner">
                                <div class="lang-select toggle">Choose Language <i class="fa fa-caret-down"></i></div>
                                <div class="lang-options">
                                    <div class="lang">Bahasa Indonesia</div>
                                    <div class="lang">Bahasa Melayu</div>
                                    <div class="lang">Dansk</div>
                                    <div class="lang">Deutsch</div>
                                    <div class="lang">English (US)</div>
                                    <div class="lang">Español</div>
                                    <div class="lang">Español (América Latina)</div>
                                    <div class="lang">Français</div>
                                    <div class="lang">Italiano</div>
                                    <div class="lang">Nederlands</div>
                                    <div class="lang">Polski</div>
                                    <div class="lang">Português (Brasil)</div>
                                    <div class="lang">Português (Portugal)</div>
                                    <div class="lang">Suomi</div>
                                    <div class="lang">Svenska</div>
                                    <div class="lang">Tiếng Việt</div>
                                    <div class="lang">Türkçe</div>
                                    <div class="lang">Русский</div>
                                    <div class="lang">العربية</div>
                                    <div class="lang">ภาษาไทย</div>
                                    <div class="lang">한국어</div>
                                    <div class="lang">中文（简体</div>
                                    <div class="lang">中文（繁體）</div>
                                    <div class="lang">日本語</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div id="main">
            <div class="vid-overlay">
                <div class="vid-container">
                    <div class="close-vid"><i class="fa fa-times"></i></div>
                    <div class="loading-vid"><i class="fa fa-spin fa-circle-o-notch"></i></div>
                    <div id="vid-player"></div>
                </div>
            </div>
            {% assign sections = site.sections | sort: 'order' %}
            {% for section in sections %}
            <div class="section" id="{{ section.id-tag }}">
                {% if section.id-tag == "signup" %}
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-2">
                        {{ section.content }}
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2 signup-col">
                        <div class="signup-col-inner">
                            <div class="signup-header">
                                Sign Up for Free
                            </div>
                            <div class="google-signup">
                                Sign up free with Google
                            </div>
                            <div class="signup-separator">
                                or
                            </div>
                            <div class="signup-form">
                                <form action="{{ base }}/coming-soon">
                                <input class="form-input email" type="email" placeholder="Email" />
                                <input class="form-input password" type="text" placeholder="Password" />
                                <div class="disclaimer">By clicking Sign up, I agree to the Terms of Service and Privacy Policy.</div>
                                <input class="form-input submit pure-button" type="submit" value="Sign up for free">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% elsif section.title == 'Benefits' %}
                <div class="section-inner">
                    {% assign benefits = site.benefits | sort: 'order' %}
                    {% for benefit in benefits %}
                    {% assign vid-id = benefit.video | remove:'https://' | remove:"watch?v=" | split: '/' %}

                    <div class="benefit-grid pure-g {% cycle 'odd', 'even' %}">
                        <div class="pure-u-1 pure-u-md-1-2 vid-col">
                            <div class="benefit-vid" data-vid="{{ vid-id[1] }}">
                                <img class="benefit-img" src="{{ base }}{{ benefit.image }}" />
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-2 copy-col">
                            <div class="benefit-copy">
                                <h2>{{ benefit.title }}</h2>
                                {{ benefit.content }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% elsif section.title == 'CTA' %}
                <div class="section-inner">
                    {{ section.content }}
                    <a class="pure-button" href="{{ section.button }}">Sign up for Free</a>
                </div>
                {% elsif section.title == 'Posts' %}
                <div class="section-inner">
                    <div class="post-slider">
                    {% for post in site.posts %}
                        <div class="post">
                            <div class="post-img-container">
                                <img class="post-img" src="{{ base }}{{ post.image }}"/>
                            </div>
                            <div class="post-tag">
                                {{ post.tag | uppercase }}
                            </div>
                            <div class="post-title">
                                {{ post.title }}
                            </div>
                            <div class="post-summary">
                                {{ post.content }}
                            </div>

                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}

            </div>
            {% endfor %}

        </div>
    </div>
    <div id="footer">
        <div class="footer-row">
            <div class="pure-g nav-grid">
                <div class="pure-u-1-2 pure-u-md-1-5 nav-col">
                    <div class="nav-col-head">
                        <div class="nav-head-label">Plans</div>
                    </div>
                    <div class="nav-col-list">
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Getting Started</a>
                        </div>
                        <div class="nav-list-item" >
                            <a class="nav-list-link" href="{{ coming-soon }}">Basic</a>
                        </div>
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Plus</a>
                        </div>
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Premium</a>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-2 pure-u-md-1-5 nav-col">
                    <div class="nav-col-head">
                        <div class="nav-head-label">Business</div>
                    </div>
                    <div class="nav-col-list">
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Features</a>
                        </div>
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Use cases</a>
                        </div>
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Customer stories</a>
                        </div>
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Contact sales</a>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-2 pure-u-md-1-5 nav-col">
                    <div class="nav-col-head">
                        <div class="nav-head-label">Discover</div>
                        <div class="nav-col-toggle toggle">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="nav-col-list">
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Blog</a>
                        </div>
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Community</a>
                        </div>
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Certified consultants</a>
                        </div>
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Events</a>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-2 pure-u-md-1-5 nav-col">
                    <div class="nav-col-head">
                        <div class="nav-head-label">Get support</div>
                        <div class="nav-col-toggle toggle">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="nav-col-list">
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Help &amp; Learning</a>
                        </div>
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Support</a>
                        </div>
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Forum</a>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-2 pure-u-md-1-5 nav-col">
                    <div class="nav-col-head">
                        <div class="nav-head-label">Company</div>
                    </div>
                    <div class="nav-col-list">
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Getting Started</a>
                        </div>
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Basic</a>
                        </div>
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Plus</a>
                        </div>
                        <div class="nav-list-item">
                            <a class="nav-list-link" href="{{ coming-soon }}">Premium</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-row">
            <div class="pure-g social-lang-grid">
                <div class="pure-u-1 pure-u-md-1-2 nav-col lang-col">
                    <div class="lang-col-inner">
                        <div class="lang-select toggle">Choose a language: <span class="selected">English (US)</span> <i class="fa fa-caret-down"></i></div>
                        <div class="lang-options pure-g">
                            <div class="pure-u-1-2">
                                <div class="lang">Bahasa Indonesia</div>
                                <div class="lang">Bahasa Melayu</div>
                                <div class="lang">Dansk</div>
                                <div class="lang">Deutsch</div>
                                <div class="lang">English (US)</div>
                                <div class="lang">Español</div>
                                <div class="lang">Español (América Latina)</div>
                                <div class="lang">Français</div>
                                <div class="lang">Italiano</div>
                                <div class="lang">Nederlands</div>
                                <div class="lang">Polski</div>
                                <div class="lang">Português (Brasil)</div>
                            </div>
                            <div class="pure-u-1-2">
                                <div class="lang">Português (Portugal)</div>
                                <div class="lang">Suomi</div>
                                <div class="lang">Svenska</div>
                                <div class="lang">Tiếng Việt</div>
                                <div class="lang">Türkçe</div>
                                <div class="lang">Русский</div>
                                <div class="lang">العربية</div>
                                <div class="lang">ภาษาไทย</div>
                                <div class="lang">한국어</div>
                                <div class="lang">中文（简体</div>
                                <div class="lang">中文（繁體）</div>
                                <div class="lang">日本語</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 nav-col social-col">
                    <div class="social-col-inner">
                        <a href="" class="social-link">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="" class="social-link">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="" class="social-link">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="" class="social-link">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                        <a href="" class="social-link">
                            <i class="fa fa-medium"></i>
                        </a>
                        <a href="" class="social-link">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-row">
            <div class="pure-g copyright-grid">
                <div class="pure-u-1 pure-u-md-1-2 copyright-txt-col">
                    <div class="col-inner">
                        <div class="copyright-txt">
                            <span>© 2017 Evernote Corporation.</span> <span>All rights reserved.</span>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 copyright-links-col">
                    <div class="col-inner">
                        <a class="copyright-link" href="{{ coming-soon }}">Security</a>
                        <a class="copyright-link" href="{{ coming-soon }}">Legal</a>
                        <a class="copyright-link" href="{{ coming-soon }}">Privacy</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{{ base }}/site_functions.js"></script>
</body>
